/*
    colores 
    rojo EF233C
    blanco EDF2F4
    gris 8D99AE
    Rojo oscuro D90429
    azul 2B2D42 2b2d42
    */

    * {
        margin: 0;
        /* padding: 0; */
        /* box-sizing: border-box; */
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: white;
    }
    
    body {
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    
    header {
        width: 100vw; /* 100% del viewport width */
        height: 100px; /* Ajusta la altura según necesites */
        background-color: #ec1b30; /* Color rojo */
        font-size: 80px;
        text-align: center;
    }
    
    nav {
        background-color: #d90429;
        display: flex;
        justify-content: center;
        height: 50px;
    }
    
    nav a {
        margin: 15px;
        text-decoration: none;
    }
    
    section {
        height: auto; /* Ajusta la altura automáticamente según el contenido */
        width: 80%; /* Ancho de la sección */
        margin: 20px auto; /* Centra la sección horizontalmente y agrega margen superior e inferior */
        padding: 20px;
        background-color: #2b2d42; /* Color de fondo blanco */
        color: white; /* Color de texto blanco */
        border-radius: 5px; /* Bordes redondeados */
        text-align: center; /* Centra el texto horizontalmente */
    }
    
    section a {
        display: block; /* Cambiado a block para que ocupe todo el ancho */
        padding: 10px 20px;
        background-color: #EF233C; /* Color de fondo rojo para el botón */
        color: #EDF2F4; /* Color de texto blanco para el botón */
        text-decoration: none; /* Quita el subrayado del enlace */
        border-radius: 5px;
        margin-top: 15px;
        margin-left: auto; /* Centra el botón horizontalmente */
        margin-right: auto; /* Centra el botón horizontalmente */
        width: fit-content; /* Ajusta el ancho al contenido */
    }
    section a:hover {
        background-color: #D90429; /* Rojo más oscuro al pasar el mouse */
    }
    
    section ul {
        list-style-type: disc; /* Estilo de viñeta */
        margin-left: 0; /* Elimina el margen izquierdo */
        display: inline-block; /* Permite centrar la lista */
        text-align: left; /* Alinea el texto de la lista a la izquierda */
    }
    
    section li {
        margin-bottom: 5px; /* Espacio entre elementos de la lista */
        text-align: left; /* Alinea el texto de la lista a la izquierda */
    }
    
    #titulo {
        color: #2B2D42; /* Color del título */
        font-size: 2em; /* Tamaño de la fuente */
        margin-bottom: 10px; /* Espacio debajo del título */
        text-align: center; /* Centra el título */
    }